@model BookStore.Common.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $("#Contact_menu").addClass("active");
    </script>
</head>

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Điện thoại</h4>
                    <p>@Model.Phone</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Địa chỉ</h4>
                    <p>@Model.Address</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Giờ mở cửa</h4>
                    <p>08:00 - 21:30</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    @{ 
                        string mailto = "mailto:" + Model.Email;
                    }
                    <a href="@mailto" style="color: #666666;cursor:pointer">@Model.Email</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.9936164198593!2d109.18318098369527!3d12.248710963442445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d7f9f95455b%3A0x2a9cc0b91996f794!2zTmjDoCBTw6FjaCBQaMawxqFuZyBOYW0!5e0!3m2!1svi!2s!4v1640743244556!5m2!1svi!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>*@
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.9936164198593!2d109.18318098369527!3d12.248710963442445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d7f9f95455b%3A0x2a9cc0b91996f794!2zTmjDoCBTw6FjaCBQaMawxqFuZyBOYW0!5e0!3m2!1svi!2s!4v1640743244556!5m2!1svi!2s"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <form action="/Home/Contact" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your name" name="customerName" required>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="email" placeholder="Your Email" name="customerEmail" required>
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Your message" name="customerMessage" required></textarea>
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->
