@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <span class="text-danger">Bạn không có quyền truy cập nội dung này</span>    
}

<a href="mailto:iamcaominhtien@gmail.com">Liên hệ Admin</a>