@model List<BookStore.Common.ProductCategory>
<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>All departments</span>
    </div>
    <ul id="product_Category">
        @foreach(var item in Model)
            {
                <li class="product-cate-detail" style="cursor:pointer"><a href="@Url.Action("Index", "ListProductByCategory", new {cateid= item.ID })">@item.Name</a></li>
                }
    </ul>
</div>
